:root {
  --bg: #171717;
  --text: #ffffff;
  --font: 'Montserrat', system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  line-height: 1.6;
  background: var(--bg);
  color: var(--text);
  letter-spacing: -0.05em;

}

footer {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.logo {
  /* THE NORTH ROAD */

width: 352px;
height: 50px;

font-family: 'Montserrat';
font-style: normal;
text-transform: uppercase;
font-weight: 300;
font-size: 2rem;
line-height: 50px;
/* identical to box height, or 125% */
text-align: left;
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
body.hero {
 background: 
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("/assets/background.jpg") center/cover no-repeat var(--bg);  
  font-family: var(--font);
  color: var(--text);
  display: flex;
  max-width: 1440px;
  align-items: left;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 4rem;
  margin: auto;
  
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 100%;
  height: fit-content;
}


.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem; /* space between tagline and icons */
  justify-content: space-between;
}

.tagline {
  font-weight: 200;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  letter-spacing: -0.03em;
  max-width: 500px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  color: var(--text);
}

.socials {
  display: flex;
  gap: 1rem;
}
.socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;   /* tweak to match your design */
  height: 24px;
}

.icon {
  width: 100%;
  height: auto;
  fill: currentColor;
}

.divider {
  margin-bottom: 1rem;
  margin-top: 0rem;
  width: 100%;
  height: 1px;
  background: var(--text);
  border: none;
    translate: 0px -1px 0px;

}
