:root {
  --bg: #171717;
  --text: #ffffff;
  --font: 'Roboto', system-ui, sans-serif;
}

* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
body.hero {
 background: 
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("/assets/background.jpg") bottom/cover no-repeat var(--bg);  
  font-family: var(--font);
  color: var(--text);
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 4rem;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  max-width: 90%;
  height: fit-content;
}

.logo {
  max-width: 150px; /* adjust to match your Figma size */
  height: auto;
}

.tagline {
  font-weight: 200;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  letter-spacing: -0.03em;
  max-width: 250px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  color: var(--text);
}

.divider {
  margin-bottom: 1.5rem;
  margin-top: 0rem;
  width: 100vw;
  height: 1px;
  background: var(--text);
  border: none;
    translate: 0px -1px 0px;

}
